<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<!--
			This configuration changes the location of the NuGet cache directory.
			This is needed to sign NuGet binaries within the cache. Otherwise, other
			builds may end up getting signed binaries when they do not intend to.
		-->
		<add key="globalPackagesFolder" value="packages" />
	</config>
	<packageSources>
		<clear />
		<add key="xvs" value="https://devdiv.pkgs.visualstudio.com/_packaging/xamarin-xvs/nuget/v3/index.json" />
	</packageSources>
</configuration>
